{% extends "LyraContentBundle::admin_layout.html.twig" %}
{% block title %}{{ 'list.title'|trans({}, 'LyraContentBundle') }}{% endblock %}
{% block content %}
<div id="ly-list-wrapper">
    <h1>{{ 'list.title'|trans({}, 'LyraContentBundle') }}</h1>
    <div id="button-bar">
        <a class="button action-new" href="{{ path('lyra_content_admin_page_new') }}">{{ 'list.new'|trans({}, 'LyraContentBundle') }}</a>
    </div>
    {% include 'LyraContentBundle:Node:flash_messages.html.twig' %}
    <form action="{{ path('lyra_content_admin_object') }}" method="post">
    <table class="ly-list">
        <thead>
            <tr>
                <th>{{ 'list.order'|trans({}, 'LyraContentBundle') }}</th>
                <th>{{ 'list.content'|trans({}, 'LyraContentBundle') }}</th>
                <th>{{ 'list.published'|trans({}, 'LyraContentBundle') }}</th>
                <th>{{ 'list.actions'|trans({}, 'LyraContentBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for node in nodes %}
        <tr>
            <td class="order-actions">
                {% include 'LyraContentBundle:Node:order_actions.html.twig' %}
            </td>
            <td class="content lev-{{ node.depth }}">
                <a href="{{ path('lyra_content_admin_edit', {'id' : node.itemId, 'type' : node.itemType}) }}">{{ node }}</a>
                <span class="node-path">{{ node.path }}</span>
            </td>
            <td class="published">
                {% include 'LyraContentBundle:Node:publish_actions.html.twig' %}
            </td>
            <td class="object-actions">
                {% include 'LyraContentBundle:Node:object_actions.html.twig' %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyracontent/css/list.css') }}" />
{% endblock %}
{% block javascripts_head %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/lyracontent/js/list.js') }}"></script>
{% endblock %}
