{% extends "LyraContentBundle::admin_layout.html.twig" %}

{% block content %}
<div id="confirm-delete">
    <h1>{{ 'form.delete.title'|trans({}, 'LyraContentBundle') }}</h1>
    {{ 'form.delete.confirmation'|trans({}, 'LyraContentBundle') }}
    <ul>
        <li>{{ content.title }}</li>
        {% for child in children %}
            <li class="depth-{{ child.depth }}">{{ child.title }}</li>
        {% endfor %}
    </ul>
    {{ 'form.delete.confirmation2'|trans({}, 'LyraContentBundle') }}
    <form id="ly-form" action="{{ path('lyra_content_admin_delete', { 'id': content.id }) }}" method="post">

    <input type="submit" name ="submit" value="{{ 'form.delete.submit'|trans({}, 'LyraContentBundle') }}" />
    <a href="{{ path('lyra_content_admin_list') }}">{{ 'form.delete.cancel'|trans({}, 'LyraContentBundle') }}</a>
    </form>
</div>
{% endblock %}
