<div id="column-1">
    <fieldset>
        <ol>
            {% if form.node.offsetExists('parent') %}
            <li>
               {{ form_errors(form.node.parent) }}
               {{ form_label(form.node.parent, 'node.parent') }}
               {{ form_widget(form.node.parent) }}
            </li>
            {% endif %}

            <li>
               {{ form_errors(form.node.title) }}
               {{ form_label(form.node.title, 'node.title') }}
               {{ form_widget(form.node.title) }}
            </li>
            <li>
               {{ form_errors(form.node.link_title) }}
               {{ form_label(form.node.link_title, 'node.link_title') }}
               {{ form_widget(form.node.link_title) }}
            </li>
            <li>
               {{ form_errors(form.node.published) }}
               {{ form_label(form.node.published, 'node.published') }}
               {{ form_widget(form.node.published) }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <ol>
            <li>
               {{ form_errors(form.content) }}
               {{ form_label(form.content, 'item.content') }}
               {{ form_widget(form.content) }}
            </li>
        </ol>
    </fieldset>
</div>
<div id="column-2">
    <fieldset>
        <legend>Meta-tags</legend>
        <ol>
            <li>
               {{ form_errors(form.meta_title) }}
               {{ form_label(form.meta_title, 'item.meta_title') }}
               {{ form_widget(form.meta_title) }}
            </li>
            <li>
               {{ form_errors(form.meta_description) }}
               {{ form_label(form.meta_description, 'item.meta_description') }}
               {{ form_widget(form.meta_description) }}
            </li>
            <li>
               {{ form_errors(form.meta_keywords) }}
               {{ form_label(form.meta_keywords, 'item.meta_keywords') }}
               {{ form_widget(form.meta_keywords) }}
            </li>
        </ol>
    </fieldset>
</div>
