{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <li class="form-row {% if errors|length > 0 %}error{% endif %}">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </li>
{% endspaceless %}
{% endblock field_row %}
{% block field_label %}
{% spaceless %}
    <label for="{{ id }}">{{ label|trans({}, 'LyraContentBundle')  }}</label>
{% endspaceless %}
{% endblock field_label %}
{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="error-list">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
