{% extends "LyraContentBundle::admin_layout.html.twig" %}
{% block content %}
<div id="ly-form-wrapper">
    {% block form_title %}{% endblock %}
    {% block button_bar %}
    <div id="button-bar">
        <a class="button action-back" href="{{ path('lyra_content_admin_list') }}">Go back</a>
    </div>
    {% endblock %}
    {% block form %}{% endblock %}
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyracontent/css/form.css') }}" />
{% endblock %}
{% block javascripts_head %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/lyracontent/js/form.js') }}"></script>
{% endblock %}
