{% extends "LyraContentBundle:Page:form.html.twig" %}
{% block title %}{{ 'form.edit.title'|trans({}, 'LyraContentBundle') }}{% endblock %}
{% block form_title %}
<h1>{{ 'form.edit.title'|trans({}, 'LyraContentBundle') }}</h1>
{% endblock %}
{% block form %}
    {{ form_errors(form) }}
    <form class="ly-form" action="{{ path('lyra_content_admin_edit', { 'id': node.itemId, 'type' : 'page' }) }}" method="post">
        {% include 'LyraContentBundle:Page:fields.html.twig' %}
        {{ form_row(form._token) }}
        <hr class="clear" />
        <input type="submit" class="button" value="{{ 'form.edit.submit'|trans({}, 'LyraContentBundle') }}" />
    </form>
{% endblock %}
