{% extends "LyraContentBundle:Page:form.html.twig" %}
{% block title %}{{ 'form.edit.title'|trans({}, 'LyraContentBundle') }}{% endblock %}
{% block form_title %}
<h2>{{ 'form.new.title'|trans({}, 'LyraContentBundle') }}</h2>
{% endblock %}
{% block form %}
    {{ form_errors(form) }}
    <form class="content-form" action="{{ path('lyra_content_new', {'type' : 'page' }) }}" method="post">
        {{ form_widget(form) }}
        <hr class="clear" />
        <input type="submit" class="button" value="{{ 'form.edit.submit'|trans({}, 'LyraContentBundle') }}" />
    </form>
{% endblock %}
